.services {
  background-color: #e0f2f9;
}

.services__list {
  padding: 40px 601px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.services__header {
  font-family: Ubuntu;
  font-size: 26px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 50px;
}

.services__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 676px;
  gap: 20px;
  max-height: 300px;
  border: 1px solid #384d6214;
  box-shadow: 0px 8px 120px 0px #557ba233;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
}

.services__checkbox {
  width: 20px;
  height: 20px;
}

.services__item--opened {
  max-height: unset;
}

.services__title-wrapper {
  display: flex;
  justify-content: space-between;
}

.services__title {
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
}

.services__price-tag {
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
}

.services__info {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  color: #3689db;
}

.services__description {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.services__details {
  max-height: 0;
  transition: height 2s ease, opacity 2s ease;
  opacity: 0;
}

.services__details-content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.services__details--visible {
  opacity: 1;
  max-height: 1500px;
}

.services__list-wrapper {
  display: flex;
  gap: 12px;
  margin: 0 0 40px;
}

.services__sub-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f5f6f8;
  box-shadow: 0px -4px 12px 0px #b1c6ee14 inset;
  border-radius: 8px;
  padding: 20px;
  max-width: 278px;
}

.services__sub-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  display: flex;
  gap: 12px;
}

.services__sub-description {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: #47485ab8;
  margin: 0 0 20px;
}

.services__button-group {
  display: flex;
  gap: 20px;
}

.services__button {
  width: 530px;
  min-height: 56px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  border-radius: 40px;
  border: none;
  background-color: #2573ff;
  color: #ffffff;
  cursor: pointer;
}

.services__button:hover {
  background-color: #1a62e4;
}

.services__button:focus,
.services__button:active {
  background-color: #044fd6;
}

.services__button--transparent {
  border: 2px solid #2573ff;
  background-color: transparent;
  color: #2573ff;
  margin: 0;
}

.services__button--transparent:hover,
.services__button--transparent:focus,
.services__button--transparent:active {
  background-color: transparent;
}

@media (max-width: 1919px) {
  .services__list {
    padding: 40px 160px;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .services__sub-list {
    max-width: 281px;
  }
}

@media (max-width: 1439px) {
  .services__list {
    flex-direction: column;
    padding: 40px 60px;
  }

  .services__item {
    justify-content: center;
    width: 605px;
  }

  .services__description {
    min-height: 44px;
  }

}

@media (max-width: 767px) {
  .services__list {
    padding: 0 16px 40px 16px;
  }

  .services__item {
    max-height: unset;
    width: 300px;
  }

  .services__title-wrapper {
    flex-direction: column;
    gap: 12px;
  }

  .services__list-wrapper {
    flex-direction: column;
  }

  .services__button-group {
    flex-direction: column;
  }

  .services__title {
    text-align: left;
  }

  .services__button {
    width: 300px;
  }
}
