.services {
  background-color: #e0f2f9;
}

.services__list {
  padding: 40px 400px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.services__header {
  font-family: Ubuntu, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 50px;
}

.services__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 316px;
  max-height: 300px;
  border: 1px solid #384d6214;
  box-shadow: 0px 8px 120px 0px #557ba233;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
}

.services__item--opened {
  max-height: unset; 
}

.services__title {
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  min-height: 53px;
}

.services__info {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: #3689db;
}

.services__description {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  min-height: 108px;
}

.services__details {
  max-height: 0;
  transition: height 2s ease, opacity 2s ease;
  opacity: 0;
}

.services__details-content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.services__details--visible {
  opacity: 1;
  max-height: 1000px;
}

.services__sub-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f5f6f8;
  box-shadow: 0px -4px 12px 0px #b1c6ee14 inset;
  border-radius: 8px;
  padding: 12px;
}

.services__sub-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  display: flex;
  gap: 12px;
}

.services__price-wrapper {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 12px;
}

.services__sub-description {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: #47485ab8;
  margin: 0 0 20px;
}

.services__button {
  width: 318px;
  min-height: 56px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  border-radius: 40px;
  border: none;
  background-color: #2573ff;
  color: #ffffff;
  margin: 0 0 20px;
}

.services__button--transparent {
  border: 2px solid #2573ff;
  background-color: transparent;
  color: #2573ff;
  margin: 0;
}

@media (max-width: 1919px) {
  .services__list {
    padding: 40px 160px;
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
}

@media (max-width: 1439px) {
  .services__list {
    flex-direction: column;
    padding: 40px 60px;
  }

  .services__item {
    max-width: unset;
    justify-content: center;
  }

  .services__description {
    min-height: 44px;
  }

  .services__button {
    width: 100%;
  }
}


@media (max-width: 767px) {
  .services__list {
    padding: 0 16px 40px 16px;
  }

  .services__item {
    max-height: unset;
  }

  .services__title {
    text-align: left;
  }

  .services__description {
    min-height: 110px;
  }

}