.hire-order {
  padding: 60px 400px;
  position: relative;
}

.hire-order__header {
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.hire-hero__decor-image {
  bottom: -1px;
}

.hire-order__ellipse {
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
}

.hire-order__list {
  display: flex;
}

.hire-order__item {
  display: flex;
  padding: 0 20px 0 65px;
  width: 280px;
  height: 262px;
  position: relative;
}

.hire-order__polygon {
  position: absolute;
  right: -33px;
  top: 0;
  z-index: 2;
}

.hire-order__item-wrapper {
  max-width: 188px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
}

.hire-order__item--first-item {
  background: #58c5ed;
  border-radius: 20px 0 0 20px;
}
.hire-order__item--second-item {
  background: #86d2ed;
}

.hire-order__item--third-item {
  background: #bee5f3;
}

.hire-order__item--fourth-item {
  background: #e0f2f9;
  border-radius: 0 20px 20px 0;
}

.hire-order__item-title {
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
}

.hire-order__item-description {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

@media (max-width: 1919px) {
  .hire-order {
    padding: 60px 160px;
  }
}

@media (max-width: 1439px) {
  .hire-order {
    padding: 60px 60px;
  }

  .hire-order__list {
    flex-direction: column;
  }

  .hire-order__item {
    width: unset;
    height: 113px;
    justify-content: center;
    padding: 59px 20px 20px;
  }

  .hire-order__item-title {
    text-align: center;
  }

  .hire-order__item-description {
    text-align: center;
  }

  .hire-order__item-wrapper {
    max-width: unset;
    text-align: center;
    margin: 0 auto;
  }

  .hire-order__item--first-item {
    border-radius: 20px 20px 0 0;
    padding-top: 40px;
  }

  .hire-order__item--fourth-item {
    background: #e0f2f9;
    border-radius: 0 0 20px 20px;
  }

  .hire-order__polygon {
    position: absolute;
    right: unset;
    top: unset;
    bottom: -25px;
    left: 0;
    z-index: 2;
    width: 100%;
  }

  .hire-oder__word-breaker {
    display: none;
  }
}
@media (max-width: 767px) {
  .hire-order {
    padding: 60px 16px;
  }

  .hire-order__polygon {
    bottom: -15px;
  }

  .hire-order__header {
    font-size: 22px;
  }

  .hire-order__item-title {
    font-size: 22px;
  }

  .hire-order__item-description {
    font-size: 18px;
  }
}
