.promo {
  padding: 60px 400px;
  position: relative;
}

.promo__wrapper {
  background-color: #f5f6f8;
  padding: 40px 20px 40px 400px;
  border-radius: 20px;
  position: relative;
}

.promo__header {
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  margin: 0 0 12px;
}

.promo__description {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 0 0 32px;
}

.promo__form {
  display: flex;
  gap: 12px;
}

.promo__button {
  width: 500px;
  height: 44px;
  border: none;
  border-radius: 40px;
  background-color: #2573ff;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.promo__image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  
}

.promo__ellipse {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 20px;
}

.promo__blue-ellipse {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 1800px) {
  .promo {
    padding: 60px 160px;
  }
}

@media (max-width: 1439px) {
  .promo{
    padding: 60px;
  }

  .promo__wrapper {
    padding: 40px 20px 40px 275px;
  }

  .promo__button {
    width: 349px;
  }
}

@media (max-width: 767px) {
  .promo {
    padding: 20px 16px 60px;
  }

  .promo__wrapper {
    padding: 40px 20px 246px 20px;
  }

  .promo__button {
    width: 310px;
  }
}
