.about {
  background-color: #bee5f3;
  min-height: 297px;
  padding: 40px 0;
  display: flex;
  align-items: center;
}

.about__wrapper {
  background-color: white;
  display: flex;
  margin: 0 auto;
  gap: 20px;
  max-width: 1120px;
  padding: 20px;
  border-radius: 20px;
}

.about__iframe {
  width: 400px;
  height: 177px;
  margin: 0;
  flex-shrink: 0;
  border-radius: 8px;
  z-index: 10;
}

.about__text-wrapper {
  max-width: 660px;
}

.about__header {
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  margin: 0 0 12px;
}

.about__description {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

@media (max-width: 1919px) {

}

@media (max-width: 1439px) {
  .about__text-wrapper {
    max-width: 440px;
  }
  
  .about__iframe {
    height: 278px;
  }
  
}

@media (max-width: 1019px) {
  .about__wrapper {
    max-width: 748px;
    padding: 10px;
    min-height: 232px;
    flex-direction: column;
  }
  .about__iframe {
    width: 650px;
    height: 280px;
  }
}

@media (max-width: 767px) {
  .about__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 332px;
    padding: 20px 16px;
  }

  .about__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  .about__header {
    order: 1;
  }

  .about__iframe {
    order: 2;
    width: 326px;
    height: 200px;
  }

  .about__description {
    order: 3;
  }
}
