.about {
  background-color: #bee5f3;
  min-height: 297px;
  padding: 40px 0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
  padding: 0 400px 40px;
  justify-content: center;
}

.about__wrapper {
  background-color: white;
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}

.about__iframe {
  width: 400px;
  height: 200px;
  margin: 0;
  flex-shrink: 0;
  border-radius: 8px;
  z-index: 10;
}

.about__text-wrapper {
  max-width: 660px;
}

.about__header {
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  margin: 0 0 12px;
  color: #242533;
}

.about__description {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

@media (max-width: 1919px) {
  .about {
    padding: 0 120px 40px;
  }

  .about__description {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
  }
}

@media (max-width: 1439px) {
  .about {
    padding: 0 60px 40px;
  }

  .about__iframe {
    height: unset;
    min-height: 200px;
  }
}

@media (max-width: 1019px) {
  .about__wrapper {
    max-width: 748px;
    padding: 32px;
    min-height: 232px;
    flex-direction: column;
  }

  .about__text-wrapper {
    max-width: 650px;
  }

  .about__iframe {
    width: 650px;
    height: 280px;
    order: 3;
  }
}

@media (max-width: 767px) {
  .about {
    padding: 0 0 40px;
  }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 326px;
    padding: 20px 16px;
  }

  .about__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  .about__header {
    order: 1;
    font-size: 22px;
  }

  .about__iframe {
    order: 2;
    width: 324px;
    height: 200px;
  }

  .about__description {
    order: 3;
    font-size: 16px;
  }
}
