.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 400px;
  border-bottom: 1px solid #c2d1d9;
  max-height: 90px;
}

.header.hidden {
  top: -100px;
}

.header.visible {
  top: 0;
}

@media (max-width: 1919px) {
  .header {
    padding: 0 120px;
    border-bottom: none;
  }
}

@media (max-width: 1439px) {
  .header {
    border-bottom: none;
  }
}

@media (max-width: 1220px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: top 0.3s;
    background-color: #ffffff;
    padding: 0;
    width: 100%;
  }
}
