.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 400px;
  border-bottom: 1px solid #c2d1d9;
}

@media (max-width: 1800px) {
  .header {
    padding: 0 160px;
  }
}

@media (max-width: 1199px) {
  .header {
    padding: 0 60px;
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
}
