body {
  padding: 0;
  margin: 0;
  color: #47485A;
  font-family: Mulish, sans-serif;
  font-weight: 600;
  min-width: 390px;
  box-sizing: border-box;
}

/* ubuntu-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/ubuntu-regular.woff2') format('woff2'); 
}
/* ubuntu-700 - cyrillic_latin */
@font-face {
  font-display: swap; 
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../src/fonts/ubuntu-700.woff2') format('woff2'); 
}

/* mulish-regular - cyrillic_latin */
@font-face {
  font-display: swap; 
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/mulish-regular.woff2') format('woff2');
}
/* mulish-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../src/fonts/mulish-600.woff2') format('woff2');
}
/* mulish-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('../src/fonts/mulish-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url('../src/fonts/mulish-800.woff2') format('woff2');
}


