.nav__container {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px 0;
  position: relative;
}

.nav__logo {
  flex-shrink: 0;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.nav__item {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  padding: 20px;
}

.nav__list--desktop {
  display: none;
}

.burger-menu {
  display: none;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-nav {
  width: 100%;
  background-color: #fff;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 38, 50, 0.36);
  z-index: 15;
  display: none;
}

.menu-overlay.open {
  display: block;
}

.nav__list-item-header {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.nav__list--contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 0 40px;
}

.nav__button {
  width: 292px;
  min-height: 48px;
  padding: 12px 24px;
  border-radius: 40px;
  background-color: #29a71a;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.nav__link:hover {
  font-weight: 800;
}

.nav__button:hover,
.nav__button:focus,
.nav__button:active {
  background-color: #137707;
}

@media (max-width: 1439px) {
  .nav__list {
    gap: 10px 14px;
  }
}

@media (max-width: 1220px) {
  .nav__container {
    padding: 16px 0 16px 60px;
  }

  .nav__list--desktop {
    display: none;
  }

  .menu-img {
    padding: 0;
    z-index: 10;
    position: relative;
    position: absolute;
    top: 40px;
    left: 20px;
  }

  .burger-menu {
    display: block;
    z-index: 20;
    width: 70px;
  }

  .nav__list--burger {
    padding-top: 85px;
    display: flex;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 309px;
    padding: 0;
    border-radius: 0 0 12px 0;
  }

  .menu-nav {
    transition: transform 0.5s ease;
    max-height: 0;
    opacity: 0;
  }

  .menu-nav.open {
    opacity: 1;
    transform: translateX(0);
  }

  .menu-nav.close {
    transform: translateX(-100%);
    opacity: 0;
  }

  .nav__list--burger.close {
    max-height: 0;
    opacity: 0;
    width: 67px;
  }

  .nav__list--burger.open {
    max-height: unset;
    min-height: 300px;
    opacity: 1;
    position: absolute;
    padding: 100px 20px 60px;
    top: -52px;
    left: -60px;
  }

  .nav__list-item--modified {
    font-weight: 600;
  }

  .nav__link--blue-modified {
    font-weight: 700;
  }

  .nav__link--blue {
    color: #3689db;
  }

  .nav__item {
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 12px;
    max-width: 260px;
  }

  .nav__item:last-child {
    margin-top: 20px;
  }

  .nav__item:active {
    background: #f1f8ff;
  }

  .menu-img-cross {
    position: absolute;
    top: -23px;
    left: -22px;
    z-index: 10;
  }
}

@media (max-width: 1220px) {
  .nav__logo {
    display: none;
  }
}

@media (min-width: 1221px) {
  .burger-menu {
    display: none;
  }

  .nav__list--desktop {
    display: flex;
  }

  .nav__item {
    padding: unset;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
  }
}

@media (max-width: 767px) {
  .nav__container {
    padding-left: 16px;
  }

  .burger-menu.visible {
    left: 0;
  }

  .burger-menu.hidden {
    left: 0;
  }
  
  .menu-img-cross {
    left: 5px;
  }

  .nav__item {
    padding: 10px 20px 10px 10px;
  }
 

  .nav__list--burger.open {
    max-height: unset;
    min-height: 300px;
    opacity: 1;
    position: absolute;
    top: -46px;
    left: -16px;
    border-radius: 0 0 12px 0;
    padding: 62px 20px 30px 12px;
  }
}
