.contacts {
  display: flex;
  gap: 16px;
  align-items: center;
}

.contacts__group {
  display: flex;
  gap: 16px;
}

.contacts__header {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  color: #001524;

}

.contacts__phone {
  font-size: 16px;
  font-weight: 800;
  line-height: 21.6px;
  color: #3689DB;

}

.contacts__socials {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1220px) {
  .contacts {
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .contacts {
    padding-right: 16px;
  }

    .contacts__group {
        display: none;
    }
}